.bg-image-vertical {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 100%;
}

@media (min-width: 1025px) {
  .h-custom-2 {
    height: 100%;
  }
}

.jumboton {
  padding-top: 0%;
  padding-bottom: 0%;
  margin-bottom: 0%;
}

.footer {
  position: fixed;
  left: 10px;
  bottom: 5px;
  right: 10px;
  width: 125%;
  background-color: green;
  color: white;
  text-align: left;
}
