<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>{{ title }}</h1>

  <h2>Start With</h2>

  <div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-secondary" [class.active]="startWith.value === true">
      <input
        [value]="true"
        type="radio"
        name="options"
        id="option1"
        [formControl]="startWith"
      />
      O
    </label>
    <label class="btn btn-secondary" [class.active]="startWith.value === false">
      <input
        [value]="false"
        type="radio"
        name="options"
        id="option2"
        [formControl]="startWith"
      />
      X
    </label>
  </div>

  <h2>Status: {{ status }}</h2>
  <table>
    <tr *ngFor="let board_row of board; let x = index">
      <td *ngFor="let cell of board_row; let y = index" (click)="onclick(x, y)">
        {{ cell }}
      </td>
    </tr>
  </table>

  <h5>{{ this.startWith.value | json }}</h5>
  <div class="action-btn-container">
    <button type="button" class="btn btn-danger" (click)="clear()">
      Clear
    </button>
    <button type="button" class="btn btn-warning" (click)="undo()">Undo</button>
  </div>
</div>
